@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
table {
  border: none;
  background: #fec107;
  font-family: Ubuntu, sans-serif;
  margin: 30px auto;
  max-width: 800px;
}

th {
  color: black;
  background: #fec107;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  padding: 15px;
  width: 350px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}
.shade {
  background: #e5ae30;
}

td {
  color: white;
  border: none;
  padding: 15px;
  width: 350px;
  height: 40px;
  text-align: left;
  font-size: 1.2em;
  background: #382c6e;
}
